.btn {
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.btn.small {
  font-size: 12px;
  padding: 8px 16px;
}

.btn.medium {
  font-size: 16px;
  padding: 10px 20px;
}

.btn.large {
  font-size: 20px;
  padding: 12px 24px;
}

.btn.primary {
  background-color: var(--blue);
  color: var(--white);
}

.btn.primary:hover {
  background-color: var(--blue-hover);
}

.btn:disabled {
  background-color: var(--bg-color-disabled);
  cursor: not-allowed;
}

.btn:disabled:hover {
  background-color: var(--bg-color-disabled);
  cursor: not-allowed;
}
