:root {
  --white: #fff;
  --black: #1f2937;
  --border-bottom-color: #e5e7eb;
  --border-form: 1px solid #d1d5db;
  --bg-color-disabled: #9ca3af;
  --box-shadow-dark: 0 4px 15px rgba(0, 0, 0, 0.1);
  --box-shadow-blue: 0 0 5px rgba(37, 99, 235, 0.5);
  --blue: #2563eb;
  --blue-hover: #1d4ed8;
  --red: #f87171;
  --grey: #f4f6fa;
}