h1 {
  font-size: 24px;
  font-weight: bold;
  color: var(--black);
  background-color: var(--white);
  margin-bottom: 20px;
  padding: 30px;
  border-bottom: 2px solid var(--border-bottom-color); 
};

